.buscador{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.heading{
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.btn_block{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}